<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vai & Vem</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../assets/css/ratchet.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">
    <script src="../assets/js/ratchet.js"></script>
  </head>
  <body>

    <!-- Make sure all your bars are the first things in your <body> -->

    <header class="bar bar-nav back-blue-dark">
      <img class="logo" src="../assets/img/VaiVem_logo.png"></img>
    </header>

    <nav class="bar bar-tab back-blue-light">
      <a class= "tab-item" href="quem.html">
        <span class="icon icon-plus icon-white"></span>
      </a>
    </nav>

    <div class="content back-blue-dark">

      <ul class="table-view">
        <li class="table-view-cell media back-blue-light">
          <a class="navigate-right">
            <img class="media-object pull-left ic-1" src="../assets/img/vai_on.png">
            <div class="media-body">
              Item 1
            </div>
          </a>
        </li>
      </ul>

    </div>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    

  </body>
</html>