<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vai & Vem</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../assets/css/ratchet.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">
    <script src="../assets/js/ratchet.js"></script>
  </head>
  <body>

    <header class="bar bar-nav back-red-dark">
      <img class="logo" src="../assets/img/VaiVem_logo.svg"></img>
    </header>

    <nav class="bar bar-tab">
      <span class="tab-item bar-red-light-1"></span>
      <span class="tab-item bar-red-light"></span>
      <span class="tab-item bar-red-dark"></span>
      <span class="tab-item bar-red-dark"></span>
      <span class="tab-item bar-red-dark"></span>       
    </nav>
    
    <div class="content back-red-dark">
      <div class="content-padded">
        <h1 class="f1">ONDE?</h1>
      </div>
      <button class="btn btn-block btn-red">Buscar endereço</button>
    </div>

  </body>
</html>