<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vai & Vem</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../assets/css/ratchet.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">
    <script src="../assets/js/ratchet.js"></script>
  </head>
  <body>

    <header class="bar bar-nav back-green-medium">
      <img class="logo" src="../assets/img/VaiVem_logo.svg"></img>
    </header>

    <nav class="bar bar-tab">
      <span class="tab-item bar-green-light-1"></span>
      <span class="tab-item bar-green-light-1"></span>
      <span class="tab-item bar-green-light"></span>
      <span class="tab-item bar-green-md"></span>
      <span class="tab-item bar-green-md"></span>       
    </nav>

    <div class="content back-green-medium">
      <div class="content-padded">
        <h1 class="f1">QUANDO?</h1>
        <img class="logo-btn-l" src="../assets/img/vai_btn.svg"></img>
        <img class="logo-btn-r" src="../assets/img/vem_btn.svg"></img>
        <div align="center">
          <button class="btn-primary">S</button>
          <button class="btn-primary">T</button>
          <button class="btn-primary">Q</button>
          <button class="btn-primary">Q</button>
          <button class="btn-primary">S</button>
          <button class="btn-primary">S</button>
          <button class="btn-primary">D</button>
        </div>

      </div>
      <button class="btn btn-block btn-green">
        <span class="icon icon-right-nav"></span>
      </button>
    </div>
    
  </body>
</html>