body {
	color: white;
	font-family: "Dekar Light", "Helvetica";
}

.logo {
	width: 30%;
	display: block;
	margin: 0 auto 0 auto;
}
/* fonts */
.f1 {
	font-size: 44px;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

.f2 {
	font-size: 22px;
}

/* icons */
.icon-white {
	color: white;
	text-align: center;
}
/* backgrounds */
.back-blue-light {
	background-color: #3BAFDA;
}

.back-blue-dark {
	background-color: #4FC1E9;
}

.back-purple-light {
	background-color: #AC92EC;
}

.back-purple-dark {
	background-color: #967ADC;
}

.back-red-light {
	background-color: #ED5565;
}

.back-red-dark {
	background-color: #DA4453;
}

.back-green-light {
	background-color: #56E5C1;
}

.back-green-medium {
	background-color: #37BC9B;
}

.back-green-dark{
	background-color: #2A957A;
}

.back-orange-light {
	background-color: #FC6E51;
}

.back-orange-dark {
	background-color: #E9573F;
}

.back-yellow-light {
	background-color: #FFCE54;
}

.back-yellow-dark {
	background-color: #F6BB42;
}

/* buttons */

.btn {
	font-family: "Dekar Light", "Helvetica";
	font-size: 22px;
	padding: 5% 0 5% 0;
	color: white;
	border: 0;
	border-radius: 0;
}

.btn-purple {
	background-color: #AC92EC;
}

.btn-purple:active {
	background-color: #3BAFDA;
}

	